a, input, div{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,body {
    width: 100%;
    overflow-x: hidden;
    margin: 0px auto;
    font-size: 16px;
    line-height: 1.2rem;
    background-color: #266ee7;
}

.btnDiv {
    width: 100%;
    position: relative;
    text-align: center;
}

.btnImg{
    width: 89%;
    margin: 3% 0 3% 0;
}

.phoneImg {
    position: absolute;
    width: 5%;
    left: 13%;
    bottom: 44.5%;
}

input {
    position: absolute;
    width: 45% !important;
    height: 40% !important;
    border: 0px !important;
    left: 19%;
    bottom: 16%;
    background-color: rgba(0,0,0,0) !important;
    font-size: 0.9rem !important;
    box-shadow: inset 0 0px 0px rgba(10,10,10,0) !important;
    color: #ffffff !important;
}

input::-webkit-input-placeholder {
    color: #8fb5ff !important;
}

/*4 4s*/
@media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2){
    html {
        font-size: 14px;
    }
}

/* ºÊ»›iphone5 */
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
    html {
        font-size: 14px;
    }
}

/*6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html {
        font-size: 16px;
    }
}

/*6+*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html {
        font-size: 18px;
    }
}