a, input, div{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,body {
    width: 100%;
    overflow-x: hidden;
    margin: 0px auto;
    font-size: 16px;
    line-height: 1.2rem;
    background-color: #f2f4f7;
}

table {
    width: 100%;
    border-spacing: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

tbody {
    border: 0px white solid !important;
    background-color: white !important;
}

tr {
    background-color: white !important;
}

td {
    padding: 0 !important;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

header img {
    width: 100%;
}

header .downloadBtn {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 22%;
    cursor: pointer;
}

section .expertAvatar {
    text-align: center;
    width: 100%;
    height: 135px;
    line-height: 135px;
    margin-top: 20%;
}

section .expertAvatar img {
    width: 90px;
    height: 90px;
    border-radius: 10rem;
}

section .signX {
    width: 30px;
    height: 4px;
    border-radius: 0.5rem;
    background-color: #4289ff;
    margin: 0px auto;
}

section .expertName {
    font-size: 1.1rem;
    color: #828b97;
    margin-top: 20px;
    text-align: center;
}

section .expertTitle {
    font-size: 1rem;
    color: #acb8c7;
    margin-top: 5px;
    text-align: center;
}

section .expertTags {
    height: 51px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

section .expertTags .tag {
    font-size: 0.8rem;
    padding: 1% 3% 1% 3%;
    border-radius: 1rem;
    color: white;
    background-color: #4289ff;
    height: 50px;
    text-align: center;
}

section {
    padding: 0% 5% 0% 5%;
    overflow: hidden;
}

section .menuTitle {
    margin: 5% 0 5% 0;
}

section .menuTitle .signY {
    height: 10px;
    width: 2px;
    background-color: #4289ff;
    border-radius: 0.5rem;
    margin-right: 5px;
}

section .menuTitle .title {
    font-size: 0.9rem;
    color: #acb8c7;
}

section .menuContent {
    position: relative;
    padding: 5% 5% 5% 5%;
    background-color: white;
    border-radius: 0.5rem;
}

section .menuContent .title{
    font-size: 1rem;
    color: #535860;
    margin-bottom: 3%;
}

section .menuContent .content {
    font-size: 0.9rem;
    color: #acb8c7;
    word-wrap: break-word;
    word-break: break-all;
}

section .menuContent .price{
    width: 100%;
    text-align: center;
    margin: 10% 0 10% 0;
    font-size: 1.4rem;
    color: #acb8c7;
}

section .menuContent .reservationBtnDiv{
    position: absolute;
    left: 29%;
    bottom: -20px;
    width: 100%;
    text-align: center;
}

section .menuContent .reservationBtnDiv .reservationBtn {
    width: 40%;
    height: 40px;
    line-height: 40px;
    border-radius: 2rem;
    background-color: #4289ff;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

section .topicDiv {
    width: 100%;
    background-color: #f2f4f7;
    border-radius: 0.5rem;
}

section .topicDiv .topicLeft{
    float: left;
    width: 84%;
    margin: 5% 0 5% 5%;
}

section .topicDiv .topicTitle{
    color: #535860;
    font-size: 1rem;
    margin: 5% 0 0 5%;
}

section .topicDiv .topicPrice{
    font-size: 1.4rem;
    color: #acb8c7;
    margin: 3% 0 5% 5%;
}

section .topicDiv .topicRight img{
    width: 45%;
}

section .topicDiv .content {
    width: 100%;
    display: none;
    padding: 1% 5% 5% 5%;
    font-size: 0.9rem;
    color: #acb8c7;
    word-wrap: break-word;
    word-break: break-all;
}

section .topicDiv .reservationBtnDiv{
    display: none;
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}

section .topicDiv .reservationBtnDiv .reservationBtn {
    width: 40%;
    height: 40px;
    line-height: 40px;
    border-radius: 2rem;
    background-color: #4289ff;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    margin: 0px auto;
}

section .comment {
    margin-bottom: 5%;
}

section .comment .commentInfo{
     height: 40px;
     line-height: 40px;
}

section .comment .commentInfo .commentAvatar{
    float: left;
    width: 16%;
}

section .comment .commentInfo .commentAvatar img{
    width: 40px;
    height: 40px;
    border-radius: 10rem;
}

section .comment .commentInfo .commentName{
    float: left;
    width: 59%;
    color: #828b97;
}

section .comment .commentInfo .commentTime{
    text-align: right;
    color: #acb8c7;
}

section .comment .commentContent {
    margin-top: 15px;
    font-size: 1rem;
    color: #535860;
    word-wrap: break-word;
    word-break: break-all;
}

section .comment .commentTopic {
    margin-top: 10px;
    color: #acb8c7;
}

section .moreBtn {
    text-align: center;
    border-radius: 5px;
    width: 35%;
    height: 40px;
    line-height: 38px;
    background-color: #f2f4f7;
    border: 1px #4289ff solid;
    color: #4289ff;
    font-size: 1rem;
    margin: 2% auto 2% auto;
    cursor: pointer;
}

section .expertBanner {
    width: 100%;
    border-radius: 5px;
}

section .expertInfo {
    color: #828b97;
    font-size: 1rem;
    margin: 5% 0 5% 0;
}

.priceSign {
    font-size: 1.1rem;
    margin-right: 4px;
}

.priceUnit {
    font-size: 1.1rem;
}

.downloadBg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgba(0,0,0,0.8);
    display: none;
    text-align: center;
}

.downloadBg img {
    width: 70%;
}

.downloadBg .title {
    position: absolute;
    color: #828b97;
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    top: 54.5%;
    height: 50px;
    line-height: 50px !important;
}

.downloadBg .more {
    position: absolute;
    color: #acb8c7;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    top: 59%;
    height: 40px;
    line-height: 40px !important;
}

.downloadBg .btnDiv {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 66%;
    height: 40px;
    line-height: 40px !important;
}

.downloadBg .btnDiv .download {
    margin-right: 5%;
    color: #4289ff;
}

.downloadBg .btnDiv .cancel {
    margin-left: 20%;
    color: #c6d1e0;
}

.arrowRotateN {
    -webkit-animation: arrowRotateN 0.3s forwards linear;
}

@-webkit-keyframes arrowRotateN {
    0%{transform: rotate(90deg);}
    100%{transform: rotate(0deg);}
}

.arrowRotateS {
    -webkit-animation: arrowRotateS 0.3s forwards linear;
}

@-webkit-keyframes arrowRotateS {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(90deg);}
}

/*4 4s*/
@media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2){
    html {
        font-size: 16px;
    }
}

/* 兼容iphone5 */
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
    html {
        font-size: 16px;
    }
}

/*6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html {
        font-size: 18px;
    }
}

/*6+*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html {
        font-size: 19px;
    }
}