html,body {
    font-family: Helvetica;
    background-color: #fafafa;
    margin: 0px auto;
    -webkit-user-select: none;
    overflow-y: hidden;
}

#bodyMod {
    -webkit-animation-duration: 0.2s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-iteration-count: 1;
}

header {
    background-color: #4289ff;
}

footer {
    background-color: #d9d9d9;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
    width: 90%;
    border-radius: 0.4rem;
    margin: 0px auto;
}

.cardDiv {
    height: 100%;
    line-height: 100%;
}

.cardImg {
    width: 40%;
    line-height: 100%;
    margin-top: 27%;
    margin-left: 23%;
}

.alipayDiv {
    height: 100%;
    line-height: 100%;
    text-align: right;
}

.alipayImg {
    width: 40%;
    line-height: 100%;
    margin-top: 27%;
    margin-right: 23%;
}

.leftDiv {
    height: 100%;
    line-height: 100%;
    padding: 0px;
}

.leftImg{
    width: 95%;
    margin-top: 100%;
}

.middleDiv {
    height: 100%;
    line-height: 100%;
    padding: 0px;
    text-align: center;
}

.middleText {
    margin-top: 100%;
    color: white;
    font-size: 1rem;
}

.rightDiv {
    height: 100%;
    line-height: 100%;
    padding: 0px;
}

.rightImg{
    width: 95%;
    margin-top: 100%;
}

input {
    border: 0px !important;
    box-shadow: none !important;
    padding: 0px !important;
    margin: 0px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: #4289ff !important;
}

article {
    padding: 4% 4% 0 4%;
    background-color: #fafafa;
}

.inputDiv {
    padding: 0 4.6% 4.6% 4.6%;
    background-color: white;
}

.hvr-underline-from-left:before {
    height: 1px !important;
    background: #4289ff !important;
}

#alipayPhone, #alipayCode {
    width: 65%;
    float: left;
}

.msgButton {
    text-align: center;
    border-radius: 4px;
    font-size: 0.8rem;
    height: 20%;
    line-height: 250%;
    width: 25%;
    float: right;
    margin-top: 4.5%;
    background-color: #d9d9d9;
    color: white;
}

.errorMsg {
    font-size: 1rem;
    height: 20%;
    line-height: 250%;
    width: 35%;
    float: right;
    margin-top: 3%;
    color: #666666;
    text-align: right;
}

.errorMsg img {
    width: 19%;
}

.errorMsg span {
    margin-left: 5px;
    vertical-align: middle;
}

.note {
    margin-top: 1rem;
    color: #999999;
    font-size: 0.8rem;
}

.note img {
    width: 6%;
}

.note span {
    margin-left: 5px;
    vertical-align: middle;
}

.bindBtnText {
    background-color: #4289ff;
    border-radius: 0.4rem;
}

.payNote {
    background-color: rgba(0,0,0,0);
    position: absolute;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    top: 0px;
    visibility: hidden;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-iteration-count: 1;
    z-index: -1;
}

.subBtn {
    width: 100%;
    background-color: #71bcf1;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a, input, div{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (max-width: 320px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 376px) and (max-width: 1080px) {
    html {
        font-size: 16px;
    }
}