html,body {
    font-family: Helvetica;
    background-color: #4289ff;
    margin: 0px auto;
    overflow-y: hidden;
    -webkit-user-select: none;
}

.main {
    position: relative;
}

.pwdTitleDiv {
    text-align: center;
    margin-top: 5rem;
}

.pwd {
    text-align: center;
    margin-top: 5rem;
    padding: 0 1rem 0 1rem;
}

.pwd .column {
    padding: 0;
}

.pwdTitleB {
    color: white;
    font-size: 1.3rem;
}

.pwdTitleS {
    color: #abd2f3;
    font-size: 1rem;
}

.pwdTextDivIn {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 3rem;
    border: 1px #ffffff solid;
    background-color: #69b1e8;
    text-align: center;
}

.pwdTextDivOut {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 3rem;
    border: 1px #ffffff solid;
    background-color: #4289ff;
    text-align: center;
}

.pwdText {
    color: #ffffff;
    font-size: 2rem;
    vertical-align: middle;
}

.pwdTu {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 1rem;
    background-color: #ffffff;
    margin: 0px auto;
    vertical-align: middle;
    margin-top: 1rem;
}

.pwdNum {
    position: fixed;
    bottom: 0px;
    height: 16rem;
    text-align: center;
    color: black;
    background-color: #ffffff;
}

.pwdNum .row {
    height: 4rem;
}

.pwdNum .row .column {
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.pwdNum .row .column img{
    width: 30%;
}

#pwd {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-iteration-count: 1;
}

#pwdNum{
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-iteration-count: 1;
}

#bodyMod {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-iteration-count: 1;
}

@media (max-width: 320px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 376px) and (max-width: 1080px) {
    html {
        font-size: 16px;
    }
}