html,body {
    font-family: Helvetica;
    background-color: #fafafa;
    margin: 0px auto;
    color: #999999;
    -webkit-user-select: none;
    overflow-y: hidden;
}

.infoDiv {
    position: relative;
}

.row {
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.userNick {
    position: absolute;
    color: #ffffff;
    left: 1rem;
    top: 1rem;
    font-size: 1.1rem;
}

.userName {
    position: absolute;
    color: #cddef1;
    left: 1rem;
    top: 2.5rem;
    font-size: 1.1rem;
}

.column, .columns {
    padding: 0px !important;
}

#bodyMod {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-iteration-count: 1;
}

.errorText {
    padding-left: 5px !important;
    vertical-align: middle;
}

@media (max-width: 320px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 376px) and (max-width: 1080px) {
    html {
        font-size: 16px;
    }
}